<%= form_with(model: @recipe, class: "recipe-form") do |form| %>
  <% if @recipe.errors.any? %>
    <div id="error-explanation">
      <h2>
        <%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:
      </h2>
      <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h2><%= form.label :category %></h2>
  <p><%= form.collection_select(:category_id, Category.all, :id, :name)%></p>

  <h2><%= form.label :title %></h2>
  <p><%= form.text_field :title %></p>

  <h2><%= form.label :photo %></h2>
  <p><%= form.file_field :photo, as: :file %></p>

  <h2><%= form.label :ingredients %></h2>
  <p><%= form.rich_text_area :ingredients %></p>

  <h2><%= form.label :description %></h2>
  <p><%= form.rich_text_area :description %></p>

  <%= form.submit %>
<% end %>
