<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2428&q=80);">
  <div class="container">
    <div class="banner-title">
      <h1>Nos recettes de famille</h1>
      <p>Pour des repas en toute légèreté</p>
    </div>
    <div class="banner-search">
      <%= render 'shared/searchbar' %>
    </div>
    <div class="banner-add">
      <%= link_to "Ajouter une recette", new_recipe_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>

<div class="container">
  <div class="section-one">
    <ul class="categories-list">
      <% @categories.each do |category| %>
        <li><%= link_to "#{category.name}", category_path(category) %></li>
      <% end %>
    </ul>
  </div>
  <div id="section-two">
    <h2>Les recettes les plus récentes</h2>
    <div class="card-deck">
      <% @recipes.last(3).each do |recipe| %>
        <div class="card" style="width: 18rem;">
          <%= link_to(recipe, {class: "card-link"}) do %>
            <img src="https://www.agora-gallery.com/advice/wp-content/uploads/2015/10/image-placeholder.png" class="card-img-top" alt="<%= recipe.title %>">
            <div class="card-body">
              <h3 class="card-title"><%= recipe.title %></h3>
              <h6 class="card-subtitle mb-2 text-muted"><%= recipe.category.name %></h6>
              <p class="card-text"><small class="text-muted"><%= "par #{recipe.author}" %></small></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div id="section-three">
    <h2>Un repas complet au hasard pour la 2 !</h2>
    <div class="card-deck">
      <% @categories.each do |category| %>
        <div class="card" style="width: 18rem;">
          <%= link_to(recipe_path(@recipes.category(category.id).random), {class: "card-link"}) do %>
            <img src="https://www.agora-gallery.com/advice/wp-content/uploads/2015/10/image-placeholder.png" class="card-img-top" alt="<%= @recipes.category(category.id).random.title %>">
            <div class="card-body">
              <h3 class="card-title"><%= @recipes.category(category.id).random.title %></h3>
              <h6 class="card-subtitle mb-2 text-muted"><%= category.name %></h6>
              <p class="card-text"><small class="text-muted"><%= "par #{@recipes.category(category.id).random.author}" %></small></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

<!--   <div data-controller="hello">
    <h1 data-target="hello.output"></h1>
  </div> -->
</div>










