<h1><%= @recipe.title %> par <%= @recipe.author %></h1>
<h2>Ingrédients</h2>
<h3><%= @recipe.ingredients %></h3>
<h2>Recette</h2>
<h3><%= @recipe.description %></h3>

<% if (@recipe.user == current_user) || (current_user.admin) %>
  <%= link_to "Edit recipe", edit_recipe_path(@recipe)  %>
<% end %>

