<%= render 'shared/searchbar' %>
<div class="recipe-wrapper">
  <h1 class="recipe-title"><%= @recipe.title %> par <%= @recipe.author %></h1>
  <div class="row recipe-header">
    <div class="col-xs-12 col-md-6">
      <h2>Ingrédients</h2>
      <h3><%= @recipe.ingredients %></h3>
    </div>
    <div class="col-xs-12 col-md-6">
      <% if @recipe.photo.attached? %>
        <%= cl_image_tag @recipe.photo.key, height: 300, width: 400, crop: :fill %>
      <% else %>
        <img src="https://www.agora-gallery.com/advice/wp-content/uploads/2015/10/image-placeholder.png" class="card-img-top" alt="<%= @recipe.title %>">
      <% end %>
    </div>
  </div>
  <div class="row recipe-content">
    <div class="col-xs-12 col-md-8">
      <h2>Recette</h2>
      <h3><%= @recipe.description %></h3>
    </div>
    <div class="col-xs-12 col-md-4">
      <h2>Commentaires</h2>
      <h3>A venir...</h3>
    </div>
  </div>

  <% if ((@recipe.user == current_user) || (current_user && current_user.admin)) %>
    <%= link_to "Edit recipe", edit_recipe_path(@recipe)  %>
  <% end %>
</div>

